<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="false">

  <display-name>EcoTrack API</display-name>
  <description>
     API de búsqueda de colonias y horarios para EcoTrack
  </description>

  <!-- Declaración del Servlet EcoTrack -->
  <servlet>
    <servlet-name>EcoTrack</servlet-name>
    <servlet-class>EcoTrack</servlet-class>
  </servlet>

  <!-- Mapeo de la ruta hacia la cual responderá el Servlet -->
  <servlet-mapping>
    <servlet-name>EcoTrack</servlet-name>
    <url-pattern>/api/buscar-horarios</url-pattern>
  </servlet-mapping>

</web-app>